#!/usr/bin/env bash

command_exists() {
  command -v "$@" >/dev/null 2>&1
}

for dep in zsh; do
  if ! command_exists $dep; then
    echo "$dep not found. Please install $dep first."
    exit 127
  fi
done

cd "{{ .chezmoi.sourceDir }}/../scripts/shell"

for script in $(ls *.sh); do
  echo "Executing $script"
  sh $script
done

